

#firstSection{
    border-bottom: white solid 3px;
    padding-bottom: 2%;
}

body{
    background-color: white;
}


#about{
    width: 47%;
    float: left;
    margin-left: 3%;
    
    
    
}






/*#secondSection{
    background-color:purple;
}
*/

.lists{
    display:inline-block; 
    width: 14%;
    margin: 0 1%;
    padding: 2%;
    box-sizing: border-box;
    border: #FFA24C solid 2px;
    margin-bottom: 2%;
    background-color: #FFF8F1;
    

   
}


.lists h3{
    font-size:1.2em;
    text-align: left;
    border-bottom: #FFA24C solid 1px;
    margin-bottom: 5px;
}

.lists li{
    font-weight: bold;
}
 ul, li {
    list-style: none;
    margin:0;
    padding:0;

}




